* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo {
    height: 800px;
    background: url('../img/spa.jpg') center center / cover no-repeat ; /*без слэша '/' нет отображения изображения*/
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    /* transform: translateY(150px); */
}

h1, h2 {
    text-align: center;
}

.promo_text {
    /* display: flex; */
    /* justify-content: center; */
    color: white;
    font-size: 33px;
    font-weight: 400;
    font-family: "Roboto Light";
    text-transform: uppercase;
}

.promo_text h2 span {
    color: green;
}

.promo_btn {
    text-transform: uppercase;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0.9em 2em;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
    outline: none;
}

.benefits {
    height: 400px;
    background-color: #9aaf8f;
    color: #f2eee6;
    display: flex;
    align-items: center;
}

.benefit_logo {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.benefit_name, .benefit_text {
    text-align: center;
}

.benefit_name {
    margin: 10px 0 10px 0;
    text-transform: uppercase;
}

.benefit_text {
    font-size: 16px;
}

.benefits_wrapper {
    display: flex;
}

.benefits_item {
    margin: 0 auto;
}

.benefit_divider {
    height: 4px;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.representation {
    /* display: flex; */
    /* min-height: 700px; */
    /* align-items: center; */
}

.representation .representaion_img {
    position: absolute;
    /* margin-top: 48px; */
    z-index: -1;
    
    /* width: 1110px;
    height: 740px; */
}

.representation .representation_text {
    transform: translateY(250px);
    margin-left: 662px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
    border: 10px solid #D3C9A3;
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
    /* line-height: 82px; */
    /* letter-spacing: 0.05em; */
    color: #3E3B44;
}

.representation .representation_text span {
    text-transform: none;
    font-size: 23px;
}

.representation .representation_btn {
    transform: translateY(290px);
    margin-left: 920px;
    background: #FF8A00;
    border-radius: 15px;
    border: none;
    padding: 1.5em 4em;
    /* transition: .4s; */
    cursor: pointer;
    outline: none;
}