
* {
	box-sizing: border-box;
	margin: 0; 
	padding: 0; 
	scroll-behavior: smooth; //плавная прокрутка по странице и до якорей
}

body {
	background: url('../img/background2.webp'); /* Фоновый цвет и фоновый рисунок*/
	color: #fff; /*Цвет текста на странице*/
	background-attachment: fixed; /* Фон страницы фиксируется */
	background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}

header {
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background: rgba(255,255,255,.8);
}

.container {
	position: relative; 
	width: 1140px; 
	margin: 0 auto; 
}

.section_header {
	text-align: center;
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	letter-spacing: 0.05em;
	color: #3E3B44;
	text-transform: uppercase;
	// margin: 30px 0 30px 0;
	padding: 20px 0;
}

.popup {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.popup_content {
	position: relative;
	background-color: #fefefe;
	color: black;
	margin: auto;
	padding: 0;
	border: 10px solid #d3c9a3;
	width: 30%;
	animation-name: animatetop;
	animation-duration: 0.4s;
	text-align: center;
	margin-top: 25%;
    font-family: Alegreya;
    font-style: normal;
    font-weight: 700;
	padding: 15px;
}

.popup_content_feedback {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #F2CD5C;
	color: #fff;
	padding: 7px 15px;
    font-size: 14px;
	margin-top: 5px;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	} 
	to {
		top: 0;
		opacity: 1;
	}
}

@import 'blocks/header';
@import 'blocks/first';
@import 'blocks/second';
@import 'blocks/third';
@import 'blocks/fourth';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/fifth';
// @import 'blocks/slider'; //Отдельный стиль для слайдера, если нужно выделить из _first.scss
@import 'blocks/social';