
* {
	box-sizing: border-box;
	margin: 0; 
	padding: 0; 
	scroll-behavior: smooth; //плавная прокрутка по странице и до якорей
}

body {
	background: url('../img/background2.png'); /* Фоновый цвет и фоновый рисунок*/
	color: #fff; /*Цвет текста на странице*/
	background-attachment: fixed; /* Фон страницы фиксируется */
	background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}

header {
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background: rgba(255,255,255,.8);
}

.container {
	position: relative; 
	width: 1140px; 
	margin: 0 auto; 
}

.section_header {
	text-align: center;
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	letter-spacing: 0.05em;
	color: #3E3B44;
	text-transform: uppercase;
	// margin: 30px 0 30px 0;
	padding: 20px 0;
}

@import 'blocks/header';
@import 'blocks/first';
@import 'blocks/second';
@import 'blocks/third';
@import 'blocks/fourth';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/fifth';
// @import 'blocks/slider'; //Отдельный стиль для слайдера, если нужно выделить из _first.scss
@import 'blocks/social';