
h1, h2 {
	text-align: center;
} 

.representation {
    min-height: 100vh;
    position: relative;
	&_img {
    	position: absolute;
    	z-index: -1;
    	left: -150px;
	} 
	&_text {
		margin-left: 559px;
		padding: 12px;
		background: rgba(255,255,255,.8);
		border: 10px solid #d3c9a3;
		font-family: Alegreya;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		text-transform: uppercase;
		color: #3e3b44;
		/* line-height: 82px; */
		letter-spacing: 0.05em;
		span{
			text-transform: none; 
			font-size: 23px;
		}
	}
	&_wrapper {
		transform: translateY(250px);
    	position: absolute;
    	right: -150px;
	}
	&_btn {
		/* transform: translateY(290px); */
		margin: 20px 0 0 920px;
		background: #F2CD5C;
		border-radius: 15px;
		border: none;
		padding: 2em 4.5em;
		font-family: 'Comfortaa';
		/* transition: .4s; */
		cursor: pointer;
		outline: none;
	}
} 
