
h1, h2 {
	text-align: center;
}
.promo{
	height: 800px; 
	background: url('../img/spa.jpg') center center / cover no-repeat; 
	display: flex; 
	align-items: center;
	&_text {
		color: white; 
		font-size: 33px; 
		font-weight: 400; 
		font-family: "Roboto Light"; 
		text-transform: uppercase; 
		h2.span {
			color: green; 
		}
	}
	&_btn {
		text-transform: uppercase; 
		background-color: transparent; 
		display: block; 
		margin: 0 auto; 
		margin-top: 30px; 
		padding: 0.9em 2em; 
		text-decoration: none; 
		font-size: 25px; 
		color: #fff;
		border: solid 2px #fff; 
		border-radius: 3px; 
		transition: .4s; 
		cursor: pointer; 
		outline: none;
	}
} 

.benefits {
	height: 400px; 
	background-color: #9aaf8f; 
	color: #f2eee6; 
	display: flex; 
	align-items: center;
	&_logo{
		display: block; 
		margin: 0 auto; 
		width: 80px; 
		height: 80px;
	}
	&_name {
		text-align: center;
		margin: 10px 0 10px 0; 
		text-transform: uppercase;
	}
	&_text {
		text-align: center;
		font-size: 16px
	}
	&_wrapper {
		display: flex;
	}
	&_item {
		margin: 0 auto;
	}
	&_divider {
		height: 4px; 
		width: 50px; 
		margin: 0 auto; 
		margin-bottom: 10px; 
		background-color: #ffffff; 		
	} 
} 

.representation {
	min-height: 750px;
	&_img {
    	position: absolute;
    	z-index: -1;
    	left: -150px;
	} 
	&_text {
		margin-left: 559px;
		padding: 12px;
		background: rgba(255,255,255,.8);
		border: 10px solid #d3c9a3;
		font-family: Alegreya;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		text-transform: uppercase;
		color: #3e3b44;
		/* line-height: 82px; */
		letter-spacing: 0.05em;
		span{
			text-transform: none; 
			font-size: 23px;
		}
	}
	&_wrapper {
		transform: translateY(250px);
    	position: absolute;
    	right: -150px;
	}
	&_btn {
		/* transform: translateY(290px); */
		margin: 20px 0 0 920px;
		background: #F2CD5C;
		border-radius: 15px;
		border: none;
		padding: 2em 4.5em;
		font-family: 'Comfortaa';
		/* transition: .4s; */
		cursor: pointer;
		outline: none;
	}
} 
