.produce {
    min-height: 100vh;
    color: #3E3B44;;
    
    //Позволяет не заезжать верхней части секции за header
    border-top: 55px solid transparent;
	margin-top: -55px;
	// -webkit-background-clip: padding-box; //????
	background-clip: padding-box;

    &_catalog {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    
        &_item {
            position: relative;
            width: 262px;
            height: 290px;
            margin: 10px 0 10px 0;

            &_before {
                position:absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }
            
            &_after {
                position:absolute;
                top: 0;
                left: 0;
                z-index: 5;
            }
    
           /*  &_imgcover {
                display: block;
                cursor: pointer;
                width: 262px;
                height: 210px;
            } */

            &_img {
                display: block;
                cursor: pointer;
                // width: 262px;
                // height: 210px;
                border-top: 80px solid transparent;
                margin-top: -80px;
                // -webkit-background-clip: padding-box; //????
                background-clip: padding-box;
            }
            &_img:hover {
                opacity: 0.1;
                -moz-transition: all 0.3s ease-in-out; /* эффект перехода для Firefox до версии 16.0 */
                -webkit-transition: all 0.3s ease-in-out; /* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
                -o-transition: all 0.3s ease-in-out; /* эффект перехода для Opera до версии 12.10 */
                transition: all 0.3s ease-in-out; /* эффект перехода для других браузеров */
            }

            &_img::after {
                opacity: 0.0;
                -moz-transition: all 1.5s ease-out; /* эффект перехода для Firefox до версии 16.0 */
                -webkit-transition: all 1.5s ease-out; /* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
                -o-transition: all 1.5s ease-out; /* эффект перехода для Opera до версии 12.10 */
                transition: all 1.5s ease-out; /* эффект перехода для других браузеров */
            }

            &_title {
                position: absolute;
                width: 243px;
                /* height: 80px; */
                height: auto;
                left: calc(50% - 243px/2); /* центрирует блок с текстом по середине родительского - вычисляет лев и прав отступы */
                top: 180px;
                border: 6px solid #d3c9a3;
                z-index: 20;
    
                &_text {
                    display: block;
                    padding: 5px 0;
                    text-align: center;
                    font-family: 'Comfortaa';
                    font-style: normal;
                    color: #3E3B44;
                    font-size: 18px;
                    background-color: #ffffff;   
                }

                &_price {
                    display: block;
                    padding: 5px 0;
                    text-align: center;
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: bold;
                    color: #3E3B44;
                    font-size: 18px;
                    background-color: #ffffff;   
                }
            }
           /*  &_price	{
                position: absolute;
                bottom: 0;
                width: 262px;
    
                &_button {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: 'Comfortaa';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: bold;
                    color: #3E3B44;
                    text-decoration: none;
                    padding: .5em 2em;
                    outline: none;
                    border-width: 2px 0;
                    border-style: solid none;
                    border-color: #FDBE33 #000 #D77206;
                    border-radius: 6px;
                    background: linear-gradient(#F3AE0F, #E38916) #E38916;
                    transition: 0.2s;
                    cursor: pointer;
                }
                &_button:hover {
                    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
                }
                &_button:active {
                    background: linear-gradient(#f59500, #f5ae00) #f59500;
                }
            } */
        }
    }
}


